@{
    ViewData["Title"] = "RegistrarLibro";
}
<br><br><br>
<div class="row">    
    <div class="col-md-7">
        Usuario: <input type="text" value="Mauricio Arizaca Soto">
    </div>
    <div class="col-md-3">
       Fecha de Creación:<input type="date">
    </div>
    <div class="col-md-2">
        <a href="Login">Cerrar Sesión</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><br><br><br>
        <h1 style="text-align:center"><u>Registrar Libros</u></h2>  
    </div>
</div>
<div  class=" borde row">
    <div class="col-md-5">
        <h3>Datos de Libro</h3>
            <div>Código de Libro: <input type="text" value="000003"></div><br>
            <div>
                ISBN: <input type="text" value="978-9-68-247589-4">
                Categoría:
                <select>
                    <option value="Tecnologia">Tecnología</option>
                    <option value="Matematicas">Matemáticas</option>
                    <option value="Gestión Empresarial">Gestión Empresarial</option>
                    <option value="Ingenieria de Software">Ingenieria de Software</option>
                    <option value="Arquitectura">Arquitectura</option>
                      <option value="Lenguaje">Lenguaje</option>

                   
                </select>                
            </div><br>
            <div>
                Titulo: <input type="text" value="">
            </div><br>
            <div>
                Autor: <input type="text" value="">
            </div><br>
            <div>
                Editorial: <input type="text">
                Cantidad: <input type="text" size="2">
                Año de Publicación: <input type="text">
            </div><br>
    </div>
    <div class=" col-md-3">
        <br><br>
        <div>
            <h3>Descripción:</h3>
            Cantidad de Hojas: <input type="text" size="2">
        </div><br>
        <div>
            Tamaño: <br>
            Alto: <input type="text" size="4"> 
            Ancho: <input type="text" size="4">
        </div><br>
        <div>
            CD:<br> 
            Si <input type="checkbox">
            No <input type="checkbox">

        </div><br>
        <div>
            Idioma: <input type="text">
        </div>  
    </div>

    <div>
        <input type="button" value="Regresar">
        
    </div>
</div><br>