@model Prestamo
@{
    var prestamos = Model;
}

<div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center"><u>Generar Prestamo</u></h2>
        
    </div>
</div>
<div  class="row">
    <form asp-action="GenerarPrestamo" method="post" class="borde">
        @Html.ValidationSummary()
    <div class="borde col-md-6">
        <h3>Datos del Estudiante</h3>
            <div>
                <label asp-for="Estudiante">Código de Estudiante:</label> 
                <input class="form-control" type="text" name="Estudiantecod_est" asp-for="Estudiantecod_est" value="2015147360" required>
                <input type="button" class="btn btn-primary btn-sm" value="Buscar Estudiante"/>
            </div><br>
            <div>
                <label asp-for="Estudiante">Nombres:</label> 
                <input type="text" class="form-control" name="Estudiantenomb" asp-for="Estudiantenomb" required/>
            </div><br>
            <div>
                <label asp-for="Estudiante">Apellidos:</label> 
                <input type="text" class="form-control" name="Estudianteape" asp-for="Estudianteape" required/>
            </div><br>
            <div>
                <label asp-for="Estudiante">Escuela:</label> 
                <input type="text"  name="Estudianteescuela" asp-for="Estudianteescuela" required>
            </div><br>

            
    </div>
    <div class="borde col-md-6">
        <h3>Datos de Libro</h3>
            <div>
                <label asp-for="Libro">Código de Libro:</label> 
                <input class="form-control" type="text" asp-for="Librocod_lib" name="Librocod_lib" required/>
                <input type="button" class="btn btn-primary btn-sm" value="Buscar Libro">
            </div><br>
            <div>
                <label asp-for="Libro">ISBN: </label> 
                <input class="form-control" type="text" value="978-9-68-247589-4" asp-for="LibroISBN" name="LibroISBN">
            </div><br>
            <div>
                <label asp-for="Libro">Título:</label> 
                <input class="form-control" type="text" name="Librotitulo" asp-for="Librotitulo">
            </div><br>
            <div>
                <label asp-for="Libro">Autor:</label> 
                <input type="text" asp-action="Libroautor" name="Libroautor">
            </div><br>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Modalidad</h3>
        <div class="form-group">
                <label asp-for="Modalidad">Modalidad:</label>  
                <select asp-for="ModalidadId" class="custom-select" asp-items="ViewBag.modalidades">                  
                </select> <br>
        </div> 
        </div><br>

        <div>
            <label asp-for="fecha_reserva">Fecha de Reserva:</label> 
            <input asp-for="fecha_reserva" name="fecha_reserva" type="date">
        </div><br><br><br>
        <div style="text-align:right">
         <a  class="btn btn-primary btn-sm" href="javascript:history.back()">Regresar</a>
        <button type="submit"class="btn btn-success btn-sm">Generar</button>
         </div>
    </div>
    </div>

    </form>
