<br><br><br>
<div>
    <h1 style="align-text: center">TEORIA GENERAL DE SISTEMAS(SPANISH EDITION)</h1>
</div>
<div>
    Autor Principal: John P Van Gotch
</div>
<div>
    Codigo de Libro: 00003
</div>
<div>
    Editorial: Trillas
</div>
<div>
    Año: 2006
</div>
<div>
    ISBN: 078-9-68-247598-4
</div>
<div>
    Cantidad de Hojas: 865
</div>
<div>
    Tamaño: 38 x 28 cm
</div>    
<div>
    CD: Si
</div>
<div>
    Idioma: Español
</div>
<div>
    Sipnosis : <br>
    Welcome to Our AbeBooks Store for books. I've been selling books for long and have achieved more
    than 99% positive feedback on eBay and amazon.com. I always strive to achieve best customer
    satisfaction and have always described book accurately. I got lot of Out of Print and Rare books 
    in my store and still adding lot of books. I will ship book within 24 hours of confirmed payment
</div>
<div>
    <h3>ESTADO: DISPONIBLE</h3> 
</div>