@{
    ViewData["Title"] = "Menu";
}
    <environment include="Development">
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/menu.min.css" />
        
    </environment>
    <environment exclude="Development">
       
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
                <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/menu.min.css" asp-append-version="true" />

    </environment> 

<div class="title">
    
    <h1>Menu Principal - Bibliotecario</h1>

    <table class="menu-tabla">
        <tr>
            <th><a href="RegistrarLibro" class="btn btn-primary btn-lg" >Registrar Libro</a></th>
            <th><a href="GenerarPrestamo" class="btn btn-primary btn-lg">Generar Prestamo</button></th>
        </tr>
        <tr>
            <th><a href="BuscarCatalogo" class="btn btn-primary btn-lg">Buscar Catalogo</button></th>
            <th><a href="VerPrestamo" class="btn btn-primary btn-lg">Ver Prestamo</a></th>
        </tr>
    </table>
     
</div>