@{
    ViewData["Title"] = "RecuperarContraseña";
}  
<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/login.css" />
</environment>
<environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
</environment> 
<div class="container">
<div class="login-form">
<div class="main-div"> 
    <div class="panel">
        <h2>Recuperar Contraseña</h2>
        <p>Por favor, ingrese su correo electronico.</p>
    </div>
    <form id="Login">

        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Usuario">
        </div>
        
        <button type="submit" class="btn btn-primary">ENVIAR</button>
    </form>
</div>
</div>
</div>