@model Libro   
@{
    var libros = Model;
}

<div class="row">
    <div class="col-md-12"><br>
        <h1 style="text-align:center"><u>Registrar Libros</u></h2>       
    </div>
</div>
<form asp-action="RegistrarLibro" method="post" class="borde">
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6">
            <h3>Datos de Libros</h3>
       
        <div class="form-group">
            <label asp-for="ISBN">ISBN:</label>     
            <input class="form-control" type="text" value="978-9-68-247589-4" name="ISBN" asp-for="ISBN" pattern="{17}" required>
        </div> 
        </div>
        <br><br><br>
        <div class="col-md-2">
            <div class="form-group" >
                <label asp-for="año_pub">Año de Publicación: </label>
                <input class ="form-control"  type="number" name="año_pub" asp-for="año_pub" pattern="[0-9]{4}" required >
            </div> 
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Categoria">Categoria:</label>  
                <select asp-for="CategoriaId" class="custom-select" asp-items="ViewBag.Categorias" >                  
                </select> 
            </div> 
        </div>    
    </div><br>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group" >
                <label asp-action="titulo">Titulo: </label>
                <input asp-action="titulo" class ="form-control" type="text" name="titulo" pattern="[A-Za-z]{2-25}" required>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-action="autor">Autor: </label>
                <input asp-action="autor" class ="form-control" type="text" name="autor" pattern="[A-Za-z]{2-25}" required>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-action="editorial">Editorial: </label>
                <input asp-action="editorial" class ="form-control" type="text" name="editorial" required>
            </div>    
        </div>   
    </div>
    <!--<a class="btn btn-primary btn-sm" href="javascript:window.open('MantenerCliente','','width=500, height=450, left=100, top=100'); void 0">Nuevo Cliente</a>-->
    <br>
    <div class="row">
    <div style="text-align:right" class="col-md-12">
        <a  class="btn btn-primary" href="Menu">Regresar</a>
         <button class="btn btn-primary" type="submit">Registrar</button>
    </div>
    </div>
</form>  
    