@{
    ViewData["Title"] = "MantenerReserva";
}  

<div class="row">
    <div class="col-md-12"><br>
        <h1 style="text-align:center"><u>Ver Prestamo</u></h2>
        
    </div>
</div>
<div  class=" borde row">
   <form>  
    <div class="col-md-4">   
            <div class="form-group">
                 <label for="exampleFormControlSelect1"><h3>Buscar Prestamo (Cod Libro):</h3></label>
            </div>      
    </div>
    <div class="col-md-5">
        <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" >
        </div>
    </div>    
    <div class="col-md-3">
        <br>
       <input type="button" value="Buscar" class="btn btn-primary" >  
    </div>
</div><br>
</form> 
<div class="row">
    <div class="col-md-12">
      <table style="width:100%">
          <tr>
              <th>Codigo de Reserva</th>
              <th>Codigo de Libro</th>
              <th>Codigo de Alumno</th>
              <th>Modalidad</th>
              <th>Fecha de Realizacion</th>
          </tr>
          <tr>
              <td>123</td>
              <td>00003</td>
              <td>2015146360</td>
              <td>Hogar</td>
              <td>7 oct 2018</td>
              
          </tr>
          <tr>
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr></tr>
      </table>
    </div>

</div><br>

<div class="row">
    <div class="col-md-7">
    </div>
    <div style="text-align:right" class="col-md-5">
       <a  class="btn btn-primary btn-sm" href="javascript:history.back()">Regresar</a>
       <button type="button"class="btn btn-primary btn-sm">Guardar</button>
    </div>
</div>