body{
    background: #362608;
}
.title h1{ color: #857c2e;text-decoration: underline; font-family: 'Trocchi', serif; font-size: 60px; font-weight: normal; line-height: 48px; text-align: center; margin: 100px;}
.menu-boton
{
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}
.menu-tabla
{
    margin: auto;
    border-spacing : 10px;
}
th {
    margin: 15px;
    padding: 15px;
  }
  